@media not print {
	body[style="margin: 0px; background: rgb(14, 14, 14); height: 100%"],
	body[style="margin: 0px; background: #0e0e0e; height: 100%"] {
		background: white !important;
	}
	
	body[style="margin: 0px; background: rgb(14, 14, 14); height: 100%"] > img:first-child,
	body[style="margin: 0px; background: #0e0e0e; height: 100%"] > img:first-child {
		position: absolute !important;
		top: 0 !important;
		left: 0 !important;
	}
}
