body[style="margin: 0px; background: rgb(14, 14, 14);"],
body[style="margin: 0px; background: #0e0e0e;"] {
    background: white !important;
}
body[style="margin: 0px; background: rgb(14, 14, 14);"] > img,
body[style="margin: 0px; background: #0e0e0e;"] > img {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
}
