@media not print {
	body[style="margin: 0px; background: rgb(14, 14, 14);"],
	body[style="margin: 0px; background: #0e0e0e;"] {
		background: white !important;
	}
	
	body[style="margin: 0px; background: rgb(14, 14, 14);"] > img:first-child,
	body[style="margin: 0px; background: #0e0e0e;"] > img:first-child {
		position: absolute !important;
		top: 0 !important;
		left: 0 !important;
	}
}
